name: GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}

          base: header, activity, community, repositories
          theme: tokyo-night

          plugin_languages: yes
          plugin_languages_limit: 8

          plugin_achievements: yes
          plugin_stars: yes
          plugin_isocalendar: yes
